<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.1"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="ass2" path="/" loginUrl="~/ASS2/Login.aspx" protection="All" timeout="10"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DateEvent.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString5" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString6" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString7" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString8" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString9" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString10" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString11" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString12" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UserInfo.accdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>